_ReSharper*
_UpgradeReport*
.vs/
\#sources/
ipch/
TitanRebelsChipdisc1/Debug
TitanRebelsChipdisc1/Release
vs7/
BuildLog.htm
*.aps
*.bak
*.dep
*.exe
*.exe.manifest
*.exe.pec2bac
*.filtersa
*.idb
*.ilk
*.ncb
*.old
*.pdb
*.rar
*.sdf
*.suo
*.vcproj.*
UpgradeLog*